@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-myBlue: #0b5ab4fc;
  --color-myPurple: #9e2bd6;
  --color-myGreen: #008395;
}

/* remove input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.htmlContent {
  /* overflow-wrap: break-word;
  overflow-x: auto; */

  iframe {
    max-width: 100%;
    margin-inline: auto;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  ul {
    list-style: disc;

    li {
      margin-inline-start: 1.25rem;
    }
  }

  ol {
    list-style: decimal;

    li {
      margin-inline-start: 1rem;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* fix hover in mobile */
@custom-variant hover (&:hover);

@layer {
  body {
    @apply bg-white font-[cairo];
  }

  .pagePadding {
    @apply pb-8 xl:pb-14 pt-22 lg:pt-26;
  }

  .sectionPadding {
    @apply py-8 lg:py-14;
  }

  .text-shadow {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }

  .mainBtn {
    @apply px-6 py-2 rounded-md text-white font-bold capitalize bg-gradient-to-r from-myGreen via-myBlue to-myPurple 
    shadow-lg shadow-myPurple/0 transition-all duration-500 flex items-center justify-center gap-2 text-center cursor-pointer;

    & svg {
      @apply text-2xl transition-all duration-500;
    }

    &:hover,
    &.active {
      @apply scale-103 shadow-myPurple/70;

      & svg {
        @apply translate-x-1;
      }
    }

    &.light {
      @apply bg-none bg-white text-myPurple;

      &:hover,
      &.active {
        @apply scale-105 shadow-white/70;
      }
    }
  }

  .navLink {
    @apply text-sm font-semibold text-myPurple duration-500 capitalize cursor-pointer relative;

    &::after {
      @apply content-[''] absolute -bottom-1 start-1/2 -translate-x-1/2 h-0.5 w-0 bg-myPurple rounded-full duration-500;
    }

    &.active,
    &:hover {
      @apply scale-110;

      &::after {
        @apply w-6;
      }
    }
  }

  .navLinkMobile {
    @apply text-sm font-semibold text-myPurple duration-500 capitalize relative;

    &::after {
      @apply content-[''] absolute top-1/2 start-0 -translate-y-1/2 h-1.5 w-0 bg-myPurple rounded-e-full duration-500;
    }

    &.active,
    &:hover {
      @apply ps-4;

      &::after {
        @apply w-3;
      }
    }
  }

  .profileNavLink {
    @apply flex items-center gap-2 py-2 px-4 transition-colors text-gray-600;

    &.active,
    &:hover {
      @apply text-myPurple;
    }
  }
}
