@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-myGreen: #0c6445;
  --color-myBlue-1: #022149;
  --color-myBlue-2: #01377d;
  --color-myBlue-2: #01377d;
  --color-myBlue: #0b5ab4fc;
  --color-myPurple: #9e2bd6;
  --color-myPurple: #7820a3;
}

/* remove input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.htmlContent {
  /* overflow-wrap: break-word;
  overflow-x: auto; */

  iframe {
    max-width: 100%;
    margin-inline: auto;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  ul {
    list-style: disc;

    li {
      margin-inline-start: 1.25rem;
    }
  }

  ol {
    list-style: decimal;

    li {
      margin-inline-start: 1rem;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* fix hover in mobile */
@custom-variant hover (&:hover);

@layer {
  body {
    @apply bg-gray-100 font-[cairo];
  }

  .myContainer {
    @apply container px-4 mx-auto;
  }

  .pagePadding {
    @apply pb-8 xl:pb-14 pt-28 xl:pt-36;
  }

  .sectionPadding {
    @apply py-8 lg:py-14;
  }

  .whiteContainer {
    @apply p-6 lg:p-10 bg-white shadow-md;
  }

  .mainBtn {
    @apply px-6 py-2 rounded-md text-white text-xl font-bold uppercase bg-gradient-to-l from-myPurple to-myBlue 
    shadow-md transition-all duration-500 flex items-center justify-center gap-2 text-center cursor-pointer;

    & svg {
      @apply text-2xl lg:text-3xl transition-all duration-500;
    }

    &:hover,
    &.active {
      @apply scale-105;

      & svg {
        @apply translate-x-2;
      }
    }
  }


  .navLink {
    @apply 2xl:text-lg font-semibold text-myPurple duration-500 capitalize cursor-pointer relative;

    &::after {
      @apply content-[''] absolute -bottom-1 start-1/2 -translate-x-1/2 h-1 w-0 bg-myPurple rounded-full duration-500;
    }

    &.active,
    &:hover {
      @apply scale-110;

      &::after {
        @apply w-6;
      }
    }
  }

  .navLinkMobile {
    @apply font-semibold text-myPurple duration-500 capitalize relative;

    &::after {
      @apply content-[''] absolute top-1/2 start-0 -translate-y-1/2 h-1.5 w-0 bg-myPurple rounded-e-full duration-500;
    }

    &.active,
    &:hover {
      @apply ps-5;

      &::after {
        @apply w-3;
      }
    }
  }
}
